html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Quattrocento Sans', sans-serif;
}

section {
  margin: 4em 0;
}

img {
  width: 100%;
}

h1 img {
  max-width: 20em;
}

.wrapper {
  padding: 0 1em;
}

h2, h3 {
  font-family: 'Crimson Pro', serif;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-right: .5em;
}

.money-tree .same-line {
  align-items: baseline;
}

.money-tree .same-line p {
  font-size: 1.5rem;
}

.money-tree p {
  order: 50;
}

section a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  padding: .5em;
  background-color: #224229;
}

h3 {
  font-size: 1.5rem;
  margin: .5em 0 -.4em;
}

.browsed h3 {
  margin: 0 0 .2em;
}

.whats-included h3 {
  margin: .5em 0 .2em;
}

p {
  margin: .5em 0;
  padding: 0;
}

.money-tree img {
  margin: 1em 0 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

figure {
  margin: 0;
  padding: 0;
}

figure img {
  margin: 2em 0 0;
}

h3 + figure img {
  margin: 0;
}

blockquote {
  margin: 0 0 1em;
}

dt, dd {
  margin: 0;
}

.same-line {
  display: flex;
  flex-direction: row;
}

.money-tree .same-line {
  flex: 1;
}

dd {
  flex: 1;
}

dt {
  font-weight: bold;
  margin-right: .3em;
}

ul {
  margin: 0 0 0 1em;
  padding: 0;
}

.browsed span {
  font-weight: bold;
}

cite {
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}

/* Default styling for all screens ends here */

/* Add media query for tablet */
@media only screen and (min-width: 40em){
  .two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "img title"
    "img button"
    "img description";
  }

  .product-img {
    grid-area: img;
    padding-right: 1em;
  }

  .product-title {
    grid-area: title;
    padding-bottom: .5em;
  }

  .product-button {
    grid-area: button;
    padding-bottom: .5em;
  }

  .product-description {
    grid-area: description;
  }

  h3 {
    margin-top: 0;
  }


/* Add media query for desktop */
