html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Quattrocento Sans', sans-serif;
}

section {
  margin: 4em 0;
}

img {
  width: 100%;
}

h1 img {
  max-width: 20em;
}

.wrapper {
  padding: 0 1em;
  max-width: 1400px;
  margin: 0 auto;
}

h2, h3 {
  font-family: 'Crimson Pro', serif;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-right: .5em;
}

.money-tree .same-line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.money-tree .same-line p {
  font-size: 1.5rem;
}

.money-tree p {
  order: 50;
}

section a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  padding: .5em;
  background-color: #224229;
}

h3 {
  font-size: 1.5rem;
  margin: .5em 0 -.4em;
}

.browsed h3 {
  margin: 0 0 .2em;
}

.whats-included h3 {
  margin: .2em 0 .2em;
}

.comments h3 {
  margin-bottom: .5em;
}

p {
  margin: .5em 0;
  padding: 0;
}

.description p {
  margin: 1em 0;
}

.money-tree img {
  margin: 1.3em 0 0;
}

figure {
  margin: 2em 0 0;
}

.no-margin {
  margin-top: 0;
}

.no-top-margin {
  margin: 0;
}

dt, dd {
  margin: 0;
}

dt {
  font-weight: bold;
  margin-right: .3em;
}

dd {
  flex: 1;
  margin-bottom: .7em;
}

ul {
  margin: 0 0 0 1em;
  padding: 0;
}

.browsed span {
  font-weight: bold;
}

blockquote {
  margin: 0 0 1.5em;
}

cite {
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}

/* Default styling for all screens ends here */

/* Add media query for tablet */
@media only screen and (min-width: 48em){
  .grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "img title"
    "img button"
    "img details";
  }

  .product-img {
    grid-area: img;
    padding-right: 1em;
  }

  .section-title {
    grid-area: title;
    padding-bottom: .5em;
    margin: 0;
  }

  .whats-included h3 {
    margin: 0;
  }

  .description h3 {
    margin-bottom: -1em;
  }

  .product-button {
    grid-area: button;
    padding-bottom: .5em;
  }

  .money-tree {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr 1fr;
    grid-template-areas:
      "title"
      "button"
      "img"
      "img"
      "details";
  }


  .grid-template {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
  }

  .browsed figure {
    margin: 0;
  }
}
/* Add media query for desktop */
@media only screen and (min-width: 60em){
  .grid-area {
    max-width: 80em;
  }

  .grid-area {
  display: grid;
  grid-template-columns: 33% 33%;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "img title"
    "img details";
  }
/* Dot-notation does not create empty columns.
    .grid-area {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "img title ."
      "img details .";
  } */


  .money-tree {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "img title"
      "img button"
      "img details";
  }

  .grid-template{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .same-line {
    display: flex;
    flex-direction: row;
  }
}
